body {
    background-color: #f9f7fe;
    font-family: 'Roboto', sans-serif;
}

.weather-app {
    background-color: white;
    margin: 45px auto;
    max-width: 600px;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}
.search-form-input {
    background-color: #f9f7fe; 
    border: none;
    width: 80%;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 16px;
}

.search-form-button {
   background: purple;
   padding: 15px 20px;
   border: none;
   border-radius: 6px;
   color: white;
}