body {
    background-color: #f9f7fe;
    font-family: 'Roboto', sans-serif;
}

.weather-app {
    background-color: white;
    margin: 45px auto;
    max-width: 600px;
    padding: 30px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
a {
    text-decoration: none;
    color: #D65298;
}
.search-form-input {
    background-color: #f9f7fe; 
    border: none;
    width: 80%;
    border-radius: 6px;
    padding: 15px 20px;
    font-size: 16px;
}

.search-form-button {
   background: #B72863;
   padding: 15px 30px;
   border: none;
   border-radius: 6px;
   color: white;
   margin-left: 10px;
   font-size: 15px;
}
footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: 0 0 0 0.6;
    
}
.weather-app-data {
    display: flex;
    justify-content: space-between;
}
main {
    padding: 30px ;
}
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-app-details {
font-size: 16px;
color: rgba(39 33 66 0.4);
line-height: 20px;
}
.weather-app-details strong {
    color: #D65298;
    line-height: 24px;
    font-weight: 500;
}
.weather-app-temperature-container {
    display: flex;
    
}
.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    margin-left: 10px;
}
.weather-app-icon {
    font-size: 44px;
    margin-top: 22px;
}
.weather-app-unit {
    margin-top: 18px;
    font-size: 28px;
}